@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://db.onlinewebfonts.com/c/6ea13c6a2db85cc0d9a382773b581e91?family=Sabandija+ffp");

/* Global variables */
:root {
  --primary_color: #038c33;
  --secundary_color: #f2b705;
  --black_color: #000;
  --white_color: #fff;
  --gray_color: #9b9797;
  --blue_color: #0367a6;
  --red_color: #e44a4a;
  --defaut_font: "Quicksand", sans-serif;
  --logo_font: "Sabandija ffp";
}
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--defaut_font);
  background-color: var(--white_color);
}

/* Nav */
.navSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-bottom: 0.7px solid var(--gray_color);
}
.navContainer {
  width: 90%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoBox {
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.trevoDaSorteLogo {
  width: 50px;
}
.colorLogo {
  display: none;
}
.logoLink {
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
  line-height: 14px;
}
.logoLink .logoTexts {
  width: auto;
  display: flex;
  flex-direction: column;
}
.defautText {
  font-weight: 900;
  font-size: 12px;
  color: var(--blue_color);
}
.logoText {
  font-size: 20px;
  display: inline;
  letter-spacing: -1;
  font-weight: bold;
  color: var(--black_color);
}
.navMenu {
  width: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  column-gap: 20px;
}
.navMenu li a {
  color: var(--gray_color);
  text-decoration: none;
  font-weight: bold;
}
.navMenu li a:hover,
.navMenu li a:active {
  color: var(--secundary_color);
}
.actived {
  color: var(--secundary_color) !important;
}
.listBtnBox {
  width: 35px;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
  display: none;
}
.listBtnBox:active {
  transform: rotate(-15deg);
}
.listBtn {
  width: 100%;
  height: 3px;
  background-color: var(--black_color);
  border-radius: 20px;
}
/* End of Nav */

/* Footer Section */
.footerSection {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-image: url(../img/footer-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.footerMark {
  width: 100%;
  height: 100%;
  padding: 60px 0 40px;
  background-color: #000000bd;
  position: relative;
  z-index: 0;
}
.footerContainer {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerInforBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  column-gap: 10px;
  row-gap: 50px;
}
.footeraddressBox,
.footerLegalInfoBox,
.footerNewsletterBox {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.footerTitles {
  font-size: 18px;
  font-weight: 600;
  color: var(--white_color);
  margin-bottom: 15px;
}
.footerNormalText {
  font-size: 16px;
  color: var(--gray_color);
  line-height: 25px;
}
.footerNormalText a {
  color: var(--secundary_color);
  text-decoration: none;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 10px;
  color: var(--white_color);
  position: relative;
}
.formLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: var(--gray_color);
}
.inputEmail {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}
.formBtn {
  width: 100%;
  padding: 15px 0;
  background-color: var(--secundary_color);
  color: var(--white_color);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}
.formBtn:active {
  filter: brightness(75%);
}
.footerBar {
  width: 100%;
  margin: 20px 0;
  border: none;
  border-bottom: dashed 2px var(--gray_color);
}
.footerLastTextsBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray_color);
}
.developerText a {
  color: var(--secundary_color);
}
.errorMsg {
  font-size: 13px;
  color: var(--red_color);
}
.successSendMessageWindow {
  position: absolute;
  top: 35%;
  left: 4px;
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--white_color);
  color: var(--black_color);
  border: 1px solid;
}
.addShowAnimation {
  animation: showAnimation 0.4s linear;
}
.addhideAnimation {
  animation: hideAnimation 0.4s linear;
}

@keyframes showAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes hideAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.successMsg {
  font-size: 16px;
  font-weight: 600;
}
/* End of Footer Section */

/* Media Query */
@media (max-width: 825px) {
  .footerInforBox,
  .footerLastTextsBox {
    flex-direction: column;
  }
  .footeraddressBox,
  .footerLegalInfoBox,
  .footerNewsletterBox {
    width: 100%;
  }
  .developerText {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .navMenu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    row-gap: 20px;
    background-color: #ffffffb4;
    backdrop-filter: blur(4px);
  }
  .listBtnBox {
    display: flex;
  }
}

@media (max-width: 576px) {
  .copyrightText,
  .developerText {
    text-align: center;
  }
}
